:root {
  --max-width: 800px;
  --nav-height: 60px;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
  background-image: url(./59309980_ml-720x720.jpg);
  background-size: cover;
}

.header nav {
  background: linear-gradient(to right, #3c3b3f, #605c3c);
  box-shadow: 0 30px 60px #0000007d;
}

.header nav ul {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header nav ul li {
  text-align: center;
}

.header nav ul li a {
  display: block;
  padding: 0 15px;
  line-height: var(--nav-height);
  color: black;
  text-decoration: none;
  text-shadow: 0 2px 3px #0000007d;
  font-size: 1.8em;
  transition: transform 0.2s ease-in;
}
.header nav ul li a:hover {
  transform: scale(1.3);
}
.header nav ul li a.active {
  text-decoration: underline;
}

a {
  color: #000;
}

/* header */

.header {
  background: linear-gradient(to right, #3c3b3f, #605c3c);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.content {
  max-width: var(--max-width);
  margin: 0 auto;
  display: none;
  background-color: lightgray;
  padding: 0 20px;
  border-radius: 5px;
  box-shadow: 0 30px 60px #0000007d;
  font-size: 1.1em;
  flex-flow: wrap;
}
body section.show {
  display: flex;
}

section.content ul {
  list-style-type: none;
  padding-left: 0;
}

footer {
  background: linear-gradient(to right, #3c3b3f, #605c3c);
  padding: 20px;
  padding-bottom: 100px;
  color: white;
  margin-top: 100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: flex;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: flex;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

.logo {
  font-family: Brush Script MT, Brush Script Std, cursive;
  padding-left: 20px;
  color: white;
  font-size: 2em;
}

.map {
  width: 100%;
  height: 500px;
}
article.about {
  margin: 0;
}
.video video {
  margin: 0 auto;
  max-width: 400px;
}

.video {
  margin: 0;
  max-width: 200px;
}

article {
  margin-top: 100px;
  min-width: 320px;
  margin-bottom: 100px;
  padding: 15px;
}

article form {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

article form label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: rgb(120, 120, 120);
  visibility: hidden;
}

article form a {
  margin: 10px auto 0;
  padding: 10px 20px;
  border-radius: 2px;
  background: white;
  color: rgb(120, 120, 120);
  font-weight: bold;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: all 0.2s;
}

article form a:hover {
  background: rgb(223, 223, 223);
}

article form a:active {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

article form div {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-flow: column;
}

article form div input {
  height: 30px;
  box-sizing: border-box;
  padding-left: 5px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

article form div textarea {
  resize: vertical;
  min-height: 200px;
  max-height: 400px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-name {
  width: calc(50% - 10px);
}

img {
  float: left;
  margin-right: 10px;
}

section.content.show article {
  margin-top: 100px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.card h1 {
  background-color: lightgray;
  font-weight: bolder;
}
.card h4 {
  font-weight: bolder;
  background-color: lightgray;
}
.welcome {
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

[class^="fa"] {
  background: #3c3b3f;
}
